# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.test
*.exe
*.prof
keds
main

vendor
.env
.env.development
*.profile
coverage.html
*.log
tmp
plugin/builtin/example/example
plugin/builtin/example/main
plugin/builtin/notifications/notifications
plugin/builtin/notifications/main
.vscode
